<ion-view title="Group Entries">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list class="list">
            <a class="item item-avatar" href="#" ng-repeat="groupFeed in groupEntries.groupFeed">
              <img src="{{groupFeed.userIcon}}">
              <h2>{{groupFeed.userName}}</h2>
              <p>{{groupFeed.shareText}}</p>
            </a>
            <ion-item ng-repeat="entry in groupEntries">{{entry.message}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
