<ion-view title="My Groups">
    <ion-content padding="true" class="has-header">
      <ion-slide-box>
        <ion-slide ng-repeat="group in groups" >
          <a href="#/tab/groupEntries/{{group.groupid}}">
            <div class="list card">
              <div class="item item-avatar">
                <img src="{{group.logoUrl}}">
                <h2>{{group.title}}</h2>
                <p>{{group.creatorName}}</p>
              </div>
              <div class="item item-body">
                <img class="item item-image" src="{{group.qrCodeUrl}}" width="80%" style="border-radius: 5%;">
                <p>
                  {{group.description}}
                </p>
                <p>
                  <a class="item item-icon-left" href="#">
                    <i class="icon ion-person-stalker"></i>
                    Subscribers
                    <span class="badge badge-assertive">{{group.members}}</span>
                  </a>
                  <a class="item item-icon-left" href="#">
                    <i class="icon ion-person-stalker"></i>
                    Postings
                    <span class="badge badge-assertive">{{group.feedCount}}</span>
                  </a>
                  <p>Last share from {{group.groupFeed[0].userName}}: {{group.groupFeed[0].shareText}}</p>
                </p>
              </div>
            </div>
          </a>
        </ion-slide>
      </ion-slide-box>
    </ion-content>
</ion-view>
