<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="My Groups" icon="ion-ios-people" href="#/tab/myGroups">
            <ion-nav-view name="tab-myGroups"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Add Group" icon="ion-plus-circled" href="#/tab/addGroup">
            <ion-nav-view name="tab-addGroup"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My Account" icon="ion-ios-cloud" href="#/tab/myAccount">
            <ion-nav-view name="tab-myAccount"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
