.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 10px;
  padding-bottom: 50px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

.slider-pager-page
{
  color: white;
  fill: #f90;
  stroke: blue;
  background-color: white;
}
.slider-pager-page.active
{
  fill: #f90;
  stroke: red;
  color: white;
  background-color: blue;
}
.slider h3
{
text-align: center;
margin-top: 20px;
}
.slider p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
